<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E43C2D21FA57922006503B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E43C2E61FA57922006503B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E43C2F11FA57922006503B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
